# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Data
*.fits
*.h5
*.npy
*.npz

# OS files
.DS_Store
Thumbs.db

# Large outputs
outputs/
figures/
